body{
    background: grey ;
    min-height: 100vh;
    display: flex;
    align-items: center;

}
.container{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 4px 8px black;
    align-items: center;
}
div a :hover{
    
}